<header class="gh-head">
  <div class="n-head-inner gh-container">
    <div class="n-head-logo">
      <a class="gh-head-logo" href="{{@site.url}}">
        {{#if @site.logo}}
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
          {{@site.title}}
        {{/if}}
      </a>
    </div>
    <div class="n-head-sitelink">
      <a href="https://normally.com">
        <img src="assets/img/normally-logo.svg" />
      </a>
    </div>
  </div>
</header>