<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}}">
<div class="gh-viewport">

<style>
  /* WIP – to move */

  .n-head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .n-head-sitelink a {
    padding-bottom: 2px;
    border-bottom: 0px solid #464646;
  }

  .n-head-sitelink a:hover {
    border-bottom: 1px solid #464646
  }
</style>

<header class="gh-head">
  <div class="n-head-inner gh-container">
    <div class="n-head-logo">
      <a class="gh-head-logo" href="{{@site.url}}">
        {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
            {{@site.title}}
        {{/if}}
      </a>
    </div>
    <div class="n-head-sitelink">
      <a href="https://normally.com">normally.com</a>
    </div>
  </div>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot">
    <div class="gh-container">
        <div class="gh-foot-menu">
            {{navigation}}
        </div>
        <div class="gh-foot-meta">
          &copy; Normally Ltd.
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}

<script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>

{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "built/infinitescroll.js"}}"></script>
{{/if}}

<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
});
</script>

{{#is "post, page"}}
<script src="{{asset "built/jquery.fitvids.js"}}"></script>
<script>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
});
$(document).ready(function () {
    var $postContent = $(".gh-content");
    $postContent.fitVids();
});
</script>
{{/is}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
